.App {
  text-align: center;
}

body {
  background-color: #d5eafc;
  background-image: linear-gradient(to bottom right, #D0e0f7, #F5eafe); 
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
